/* CSS */

* { margin: 0; padding: 0; }
*::selection { color: black; background-color: yellow; }

body { 
	background-color: #FFF;
	font-family: Verdana;
	color: white;
}

.container {
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    background: url('../gfx/bg.png');
    height: 900px;
    width: 1000px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}


.error {
    position: absolute;
    z-index: 1;
}